{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width-device-width, initial-scale = 1, maximum-scale=1"/>
    <title>Title</title>

    <!--Linking CSS file -->
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Linking Java Script file -->
    <script src = "{% static 'js/app.js' %}"> </script>
    <script src ="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <style>

        body.dark{
            background-color: #02033c;
            color: #ffffff;

        }

    </style>

</head>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Business app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/events/">Events</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href = '/work_orders/'>Work_Orders</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href = "{% url 'user-logout'  %}">Log out</a>
      </li>
    </ul>
      <br>
  </div>
</nav>

<body class="{{ theme }}">
<br>
<br>
<br>
<br>

<div class="text-center">

<h1> <b> Welcome to your dashboard, {{ user }} </b> </h1>

    <!--<a class= "btn btn-outline-primary" type="button" href="{% url 'user-logout'  %}"> Logout </a> -->

    <img style = "width: 200px;" src="{{ profile.profile_picture.url }}"/>


    <!-- Theme selection -->

<div class="text-center">
    <h5>This is theme selector!</h5>

    <form method="get" action="{% url 'set_theme_preference' %}">

        <label>Select Theme:</label>

        <select name="theme">

            <option value="light"{% if theme == "light" %}selected{% endif %}>Light</option>
            <option value="dark" {% if theme == "dark" %}selected{% endif %}>Dark</option>

        </select>

        <button type="submit">Save</button>

    </form>

</div>
    <br>
    <a href ="{% url 'profile-management' %}">Profile management</a>
</div>
<br>

<!---Printing all events-->
<div class="content">
<div class="left box">
<h2> Here are your events: </h2>

<br>

{% for view_event in view_event %}

            <div>
                    <p><strong>Event Name:</strong> {{ view_event.event_name }}</p>
                    <p><strong>Description:</strong> {{ view_event.description }}</p>
                    <p><strong>Date: </strong> {{ view_event.date_of_the_event }}</p>
                    <hr>
                    <!--<p><strong>Event ID:</strong>  view_event.id }}</p> -->

            </div>

            <a class= "btn btn-outline-primary" type= "button" href = "{% url 'update_event' view_event.id %}"> Update an event </a>
        <br>
        <br>

            <a class= "btn btn-outline-primary" type= "button" href = "{% url 'delete_event' view_event.id %}"> Delete an event </a>

        <br>
        <br>

{% endfor %}
</div>

<div class="right box">
<h2>Here are your work orders:</h2>

{% for order in view_work_orders %}

        <div>
            <p><strong>Work order:</strong> {{ order.work_name }}</p>
            <p><strong>Description:</strong> {{ order.description }}</p>
            <p><strong>Due Date:</strong> {{ order.due_date }}</p>
           <!-- <p><strong>Status:</strong>  "In Progress" if order.in_progress else "Not Started"}}</p>-->
        </div>
        <hr>

{% endfor %}

</div>

</div>

</body>

</html>
