{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width-device-width, initial-scale = 1, maximum-scale=1"/>
    <title>Title</title>

    <!--Linking CSS file -->
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!--Linking Java Script file -->
    <script src = "{% static 'js/app.js' %}"> </script>
    <script src ="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


</head>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Business app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/events/">Events</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href = '/work_orders/'>Work_Orders</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href = "{% url 'user-logout'  %}">Log out</a>
      </li>
    </ul>
      <br>
  </div>
</nav>

<body>
<br>
<br>

<div class="text-center">

<h1> Welcome to your dashboard</h1>

    <a class= "btn btn-outline-primary" type="button" href="{% url 'user-logout'  %}"> Logout </a>

</div>
<br>

<!---Printing all events-->

<h2> Here are your events: </h2>

<br>

{% for view_event in view_event %}

            <div>
                    <p><strong>Event Name:</strong> {{ view_event.event_name }}</p>
                    <p><strong>Description:</strong> {{ view_event.description }}</p>
                    <p><strong>Date: </strong> {{ view_event.date_of_the_event }}</p>
                    <hr>
                    <p><strong>Event ID:</strong> {{ view_event.id }}</p> <!-- Debugging -->

            </div>

            <a class= "btn btn-outline-primary" type= "button" href = "{% url 'update_event' view_event.id %}"> Update an event </a>
        <br>
        <br>

            <a class= "btn btn-outline-primary" type= "button" href = "{% url 'delete_event' view_event.id %}"> Delete an event </a>

        <br>
        <br>

{% endfor %}

</body>

</html>
